<body>

  {% include svgs.html %}

  {% include colors.html %}

  <div class="container py-3">
    <header>

      <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center link-body-emphasis text-decoration-none">
          <span class="badge bg-secondary" style="background-color:#000 !important; padding: 5px;">AirBnb Pro</span>
          &nbsp;
          <span class="fs-4">Hospitality Guide</span>
        </a>

        <style>
          .fs-7 {
            font-size: 14px;
          }
        </style>
        
        <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
          <a class="me-3 py-2 link-body-emphasis text-decoration-none fs-7" href="/#packages">Options</a>
          <a class="me-3 py-2 link-body-emphasis text-decoration-none fs-7" href="/#process">Process</a>
          <a class="me-3 py-2 link-body-emphasis text-decoration-none fs-7" href="/#references">References</a>
        </nav>
      </div>
      